[Unit]
Description=Sonic Bike

[Service]
ExecStart=/home/sonic/sonic-bike-init/start
ExecStop=/home/sonic/sonic-bike-init/stop
Type=idle
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
